.header-container {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.header-box-container {
    display: flex;
    height: 79vh;
    padding-left: 5%;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    position: sticky;
    top: 0;
}
.hello {
    
    text-decoration: none;
    position: relative;
    top: 10%;
    right: 5%;
    color: black;
    font-size: 23px;
}
.hello h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}