.box-container-home {
  background-image: url('../public/images/bg-primary.jpg');
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
  /* border: 1px solid black; */
  height: 120vh;
  padding-bottom: 10%;
}
.box-main-home h1 {
  color: #795e55;
  font-size: 40px;
  position: relative;
}
.box-main-home {
  display: flex;
  justify-content: right;
  position: relative;
  border: 1px solid black;
}
.box-main-home a {
  align-self: flex-end;
  height: max-content;
  border: 1px solid black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  color: red;
}